/* GENERAL */
body {
	text-align: center;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 72px;
	padding-top: 100px;
	padding-bottom: 100px;
}

h2 {
	margin-top: -50px;
	margin-bottom: 50px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bolder;
	font-size: 20px;
}

h3 {
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
}

p {
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
}

#gameOver {
	color: red;
	font-size: 72px;
/*	color:silver;*/
    text-shadow:
    4px 4px 1px #300000,
    4px 6px 1px #400000,
    4px 8px 1px #500000,
    4px 10px 1px #600000,
    4px 12px 1px #700000,
    4px 14px 1px #800000,
    4px 16px 1px #900000,
    4px 18px 1px #A00000,
    4px 20px 1px #B00000,
    4px 22px 1px #C00000,
    4px 24px 1px #D00000,
    4px 26px 1px #E00000,
    4px 28px 1px #F00000,
    4px 30px 1px #FA0000,
    4px 32px 1px #FB0000,
    4px 34px 1px #FC0000,
    4px 36px 1px #FD0000,
    4px 38px 1px #FE0000,
    4px 40px 2px #FF0000;
}

/*START BUTTON*/
/*http://css3buttongenerator.com/*/

.button {
	cursor:pointer;
	width: 200px;
}

.button:hover {
}

/* QUESTIONS, ANSWERS, & RESULTS */

.question {
	padding-top: 10px;
}

.answer {
	padding-top: 15px;
	padding-bottom: 30px;
}

.results {
	padding-top: 15px;
	padding-bottom: 30px;	
}

/*BACKGROUND

/* ============================================================================================== 
Nick Mkrtchyan
http://www.facebook.com/sonick.pk
http://www.Mkrtchyan.zz.mu
================================================================================================= */
/** {
    margin: 0;
    padding: 0;
}
header {
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}*/