/* GENERAL */
body {
	text-align: center;
	color: white;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 72px;
	padding-top: 100px;
}

h2 {
	margin-top: -50px;
	margin-bottom: 50px;
	font-family: 'Orbitron', sans-serif;
	font-weight: bolder;
	font-size: 20px;
}

h3 {
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
}

p {
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
}

#gameOver {
	margin-top: 250px;
	font-family: 'Orbitron', sans-serif;
	color: red;
	font-size: 72px;
    text-shadow:
    4px 4px 1px #300000,
    4px 6px 1px #400000,
    4px 8px 1px #500000,
    4px 10px 1px #600000,
    4px 12px 1px #700000,
    4px 14px 1px #800000,
    4px 16px 1px #900000,
    4px 18px 1px #A00000,
    4px 20px 1px #B00000,
    4px 22px 1px #C00000,
    4px 24px 1px #D00000,
    4px 26px 1px #E00000,
    4px 28px 1px #F00000,
    4px 30px 1px #FA0000,
    4px 32px 1px #FB0000,
    4px 34px 1px #FC0000,
    4px 36px 1px #FD0000,
    4px 38px 1px #FE0000,
    4px 40px 2px #FF0000;
}

/*START BUTTON*/

.button {
	margin-top: 250px;
	position: relative;
	cursor:pointer;
	width: 200px;
	z-index: 10;
}

.answerButton {
 	-webkit-border-radius: 0;
 	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: 'Roboto Mono', monospace;
 	color: #ffffff;
	font-size: 12px;
	background: black;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

.answerButton:hover {
	background: #ff0000;
	text-decoration: none;
}

/* SECTIONS WITHIN BODY */

.startTriviaGameButton, .countdownTimer, .questionSection, .endOfGame {
	position: relative;
	z-index: 10;
}

.countdownTimer {
	margin-top: 200px;
}

.question {
	padding-top: 10px;
}

.answer {
	padding-top: 15px;
	padding-bottom: 30px;
}

.results {
	padding-top: 15px;
	padding-bottom: 30px;	
}
